.displayCard {
  width: 800px;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 30px;
}

.header {
  margin-bottom: 20px;
}

.editDelete {
  display: flex;
  justify-content: space-between;
}

.editButton {
  border: rgb(214, 169, 84);
  background-color: rgb(214, 169, 84);
  margin-bottom: 10px;
}

.editButton:hover {
  background-color: rgb(170, 134, 67);
}

.deleteButton {
  border: rgb(187, 81, 81);
  background-color: rgb(187, 81, 81);
  margin-bottom: 10px;
}

.deleteButton:hover {
  background-color: rgb(131, 58, 58);
}

.button {
  float: right;
  border: rgb(125, 179, 161);
  background-color: rgb(125, 179, 161);
  padding: 10px 20px;
}

.button:hover {
  background-color: rgb(91, 128, 115);
}
